<!DOCTYPE html>
<html>
<head>
        {% block title %}
                <title>Título</title>
        {% endblock title %}
</head>
<body>
        <div>
                <ul>
                        <li><a href="{% url 'home' %}">Início</a></li>
                        <li><a href="{% url 'signin' %}">Cadastro</a></li>
                        <li><a href="{% url 'list' %}">Lista</a></li>
                        <li><a href="{% url 'stat' %}">Estatisticas</a></li>
                </ul>
        </div>

        {% block content %}

        {% endblock content %}

        <br>
        <form method = 'GET' action = "{% url 'search' %}">
                <input type = 'text' name = 'query' placeholder = 'Buscar amigos'/>
                <input type = 'submit' value = 'Buscar' />
</body>
</html>