{% extends 'base.html' %}

{% block content %}
        <h1>Lista de Amigos</h1>

                <table>
                        <tr>
                                <th>Nome</th>
                                <th>Email</th>
                        </tr>
                {% for contact in object_list %}
                        <tr>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.email }}</td>
                                <td><form action="{% url 'update' contact.id %}">
                                        <input type="submit" value="Editar">
                                        </form><td>
                                <td><form action="{% url 'delete' contact.id %}">
                                        <input type="submit" value="Deletar">
                                        </form></td>
                        </tr>
                {% empty %}
                        <li>Sem itens na lista.</li>
                {% endfor %}
                </table>
{% endblock content %}