{% extends 'base.html' %}

{% block content %}
	<h1>Estatisticas Relevantes</h1>
	<p>Total de pessoas cadastradas: {{list_size}}</p>
	<p>Tamanho dos nomes completos (ignorando espaçamento): </p>
<ul>
<li>Mínimo: {{minimum_full_name}} </li>
<li>Máximo: {{maximum_full_name}}</li>
<li>Média de Tamanho dos Nomes Completos: {{avg_full_name}}</li>
</ul>

	<p>Tamanho dos nomes, considerando apenas o primeiro nome: </p>
<ul>
<li>Mínimo: {{minimum_first_name}} </li>
<li>Máximo: {{maximum_first_name}}</li>
<li>Média de Tamanho dos Primeiros Nomes: {{avg_first_name}}</li>
</ul>


	<p>Tamanho dos emails: </p>
<ul>
<li>Mínimo: {{minimum_email}} </li>
<li>Máximo: {{maximum_email}}</li>
<li>Média de Tamanho dos Emails: {{avg_email}}</li>
</ul>



{% endblock content %}